<p id="notice"><%= notice %></p>

<h1>Commons</h1>

<table>

  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commons.each do |common| %>

<!--     <% "hola "%>
    <%puts common.place_id%> -->
      <tr>
        <td><%= link_to 'Show', place_common_path(common) %></td>
        <td><%= link_to 'Edit', edit_place_common_path(common) %></td>
        <td><%= link_to 'Destroy', common, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>

<%= link_to 'New Common', new_place_common_path %>
