<p id="notice"><%= notice %></p>

<p>
  <strong>Gender:</strong>
  <%= @stat.gender %>
</p>

<p>
  <strong>B year:</strong>
  <%= @stat.b_year %>
</p>

<p>
  <strong>C status:</strong>
  <%= @stat.c_status %>
</p>

<p>
  <strong>Email:</strong>
  <%= @stat.email %>
</p>

<p>
  <strong>Cfc 1:</strong>
  <%= @stat.cfc_1 %>
</p>

<p>
  <strong>Cfc 2:</strong>
  <%= @stat.cfc_2 %>
</p>

<p>
  <strong>Cfc 3:</strong>
  <%= @stat.cfc_3 %>
</p>

<p>
  <strong>Cfc 4:</strong>
  <%= @stat.cfc_4 %>
</p>

<p>
  <strong>Cfc 5:</strong>
  <%= @stat.cfc_5 %>
</p>

<p>
  <strong>Cfc 6:</strong>
  <%= @stat.cfc_6 %>
</p>

<p>
  <strong>Cfc 7:</strong>
  <%= @stat.cfc_7 %>
</p>

<p>
  <strong>Cfc 8:</strong>
  <%= @stat.cfc_8 %>
</p>

<p>
  <strong>Cfc 9:</strong>
  <%= @stat.cfc_9 %>
</p>

<p>
  <strong>Cfc 10:</strong>
  <%= @stat.cfc_10 %>
</p>

<p>
  <strong>Cfc 11:</strong>
  <%= @stat.cfc_11 %>
</p>

<p>
  <strong>Cfc 12:</strong>
  <%= @stat.cfc_12 %>
</p>

<p>
  <strong>Cfc 13:</strong>
  <%= @stat.cfc_13 %>
</p>

<p>
  <strong>Cfc 14:</strong>
  <%= @stat.cfc_14 %>
</p>

<p>
  <strong>Svo 1:</strong>
  <%= @stat.svo_1 %>
</p>

<p>
  <strong>Svo 2:</strong>
  <%= @stat.svo_2 %>
</p>

<p>
  <strong>Svo 3:</strong>
  <%= @stat.svo_3 %>
</p>

<p>
  <strong>Svo 4:</strong>
  <%= @stat.svo_4 %>
</p>

<p>
  <strong>Svo 5:</strong>
  <%= @stat.svo_5 %>
</p>

<p>
  <strong>Svo 6:</strong>
  <%= @stat.svo_6 %>
</p>

<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>
